# Dependencies
node_modules/

# Build output
dist/
dist-electron/
release/

.local-data/
# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/